
<html>
    <head>
        <title>mathapp</title>
        <style>
            body{
                background-color: pink;
            }
            h1{
                background-color: yellow
            }
            form{
                background-color: violet
            }
        </style>
    </head>
    <body>
        <h1 align="center">THE LAMP'S POWER</h1>
        <form align="center"method="post">
            {% csrf_token %}
            Intensity <input name="I" value="{{i}}">
            <br>
            <br>
            Resistance<input name="R" value="{{r}}">
            <br>
            <br>
            <input type="submit" value="calculate">
            <br>
            <br>
            Power<input name="power"value={{power}}>
        </form>
    </body>
</html>